**/labextension/
**/*.md
**/lib
**/.venv/
**/dist/
**/.local/
**/package.json
!/package.json
**/vs/
**/min-maps/
**/*cache/
**/.vscode/
**/build/
**/examples/
**/notebooks/
**/waldiez_out/
**/node_modules/
**/ui-tests/
**/coverage/
**/.yarn/
**/yarn.lock
