**
!*/
.local/
.ipynb_checkpoints/
waldiez_out/
documents/
# do not ignore these extensions
!.gitignore
!README.md
!LICENSE
!NOTICE.md
!CODEOWNERS
!*.waldiez
!*.waldiezModel
!*.waldiezSkill
!*.waldiezAgent
