---
name: Lint, test (dev)

env:
  HUSKY: 0

# yamllint disable rule:truthy
on:
  pull_request:
    branches: [dev]
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches: [dev]
  workflow_dispatch:

jobs:
  build-waldiez:
    runs-on: ubuntu-latest

    steps:
      - name: Get waldiez dev branch commit
        id: waldiez-commit
        run: |
          COMMIT=$(curl -s https://api.github.com/repos/waldiez/waldiez/commits/dev | jq -r '.sha[0:7]')
          echo "commit=$COMMIT" >> $GITHUB_OUTPUT

      - name: Setup bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Build waldiez
        run: |
          mkdir -p ./.local
          git clone --depth 1 --branch dev https://github.com/waldiez/waldiez.git
          cd waldiez
          bun install
          bun run build:lib
          bun run archive
          cp out/archive/waldiez-react-*.tgz ../.local/waldiez-react.tgz

      - name: Upload waldiez artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: waldiez-react
          path: ./.local/waldiez-react.tgz
          retention-days: 1

  lint-py:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install -r requirements/main.txt
          python -m pip install -r requirements/dev.txt
          python -m pip install -r requirements/test.txt
          python -m pip install git+https://github.com/waldiez/waldiez.git@dev

      - name: pylint
        run: pylint --rcfile=pyproject.toml .
      - name: isort
        run: isort --check-only .
      - name: black
        run: black --check --config pyproject.toml .
      - name: mypy
        run: mypy --config pyproject.toml .
      - name: flake8
        run: flake8 --config=.flake8
      - name: pydocstyle
        run: pydocstyle --config pyproject.toml .
      - name: bandit
        run: bandit -r -c pyproject.toml .
      - name: yamllint
        run: yamllint -c .yamllint.yaml .
      - name: ruff
        run: ruff check --config pyproject.toml .

  lint-js:
    runs-on: ubuntu-latest
    needs: build-waldiez
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 22
          package-manager-cache: false

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.12

      - name: Enable corepack
        run: |
          corepack enable
          yarn set version stable

      - name: Download waldiez artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: waldiez-react
          path: .local

      - name: Move artifact to correct location
        run: |
          mv .local/waldiez-react.tgz .local/waldiez-react.tgz || echo "File already in place"
          ls -la .local/

      - name: Set Yarn version
        run: yarn set version stable

      - name: Install jupyterlab
        run: python -m pip install --upgrade pip jupyterlab

      - name: Install dependencies
        run: |
          yarn remove @waldiez/react || true
          yarn add @waldiez/react@file:./.local/waldiez-react.tgz
          yarn install --no-immutable

      - name: Run linters
        run: yarn lint

  test:
    runs-on: ${{ matrix.os }}
    needs: ["build-waldiez"]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.12

      - name: Install py dependencies
        run: |
          python -m pip install -r requirements/main.txt
          python -m pip install -r requirements/test.txt
          python -m pip install git+https://github.com/waldiez/waldiez.git@dev

      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 22
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          yarn set version stable

      - name: Download waldiez artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: waldiez-react
          path: .local

      - name: Move artifact to correct location (posix)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: |
          mv .local/waldiez-react.tgz .local/waldiez-react.tgz || echo "File already in place"
          ls -la .local/

      - name: Move artifact to correct location (non-posix)
        if: matrix.os == 'windows-latest'
        run: |
          move .local\waldiez-react.tgz .local\waldiez-react.tgz || echo "File already in place"
          dir .local

      - name: Set Yarn version
        run: yarn set version stable

      - name: Install jupyterlab
        run: python -m pip install --upgrade pip waldiez jupyterlab

      - name: Install js dependencies
        run: |
          yarn remove @waldiez/react || true
          yarn add @waldiez/react@file:./.local/waldiez-react.tgz
          yarn install --no-immutable

      - name: Run js tests
        run: yarn test

      - name: Install lcov
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt update && sudo apt install -y lcov

      - name: Run py tests
        run: python -m pytest -c pyproject.toml --cov=waldiez_jupyter --cov-report lcov:coverage/py/lcov.info

      - name: Merge LCOV reports
        if: matrix.os == 'ubuntu-latest'
        run: python scripts/merge_lcov.py
